.chat-container-header {
  display: flex;
  flex-direction: row;
  width: auto;
  flex-grow: 1;
  border-bottom: 1px solid #e0e0e0;
  z-index: 1;
  flex: none;
  align-items: center;
  padding: 0.62rem;
  height: 5.5rem;
  box-shadow: 0 0 0.62rem rgba(0, 0, 0, 0.1);
}

.chat-container-content {
  display: flex;
  height: auto;
  flex-grow: 1;
  border: 1px solid #e0e0e0;
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: auto;
  flex-grow: 1;
}

.chat-list-button {
  background-color: yellow;
  height: 20%;
  visibility: collapse;
  position: relative;
  top: 50%;
  bottom: 50%;
  border-style: solid;
  border-width: 1px;
}


@media (max-width: 640px) {
  .chat-list-button {
    visibility: visible;
  }
}
