.chat-container-header {
  display: flex;
  direction: row;
  max-height: 10%;
  width: auto;
  flex-grow: 1;
  background-color: green;
}

.chat-container-content {
  display: flex;
  height: auto;
  flex-grow: 1;
  background-color: blue;
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: auto;
  flex-grow: 1;
}

.chat-list-button {
  background-color: yellow;
  height: 20%;
  visibility: collapse;
  position: relative;
  top: 50%;
  bottom: 50%;
  border-style: solid;
  border-width: 1px;
}


@media (max-width: 640px) {
  .chat-list-button {
    visibility: visible;
  }
}
